<div class="border-bottom border-top flex-grow-1 flex-shrink-1 my-3 overflow-y-hidden">
    <div class="h-100 py-3 overflow-y-auto">
        {% block sidebar_scrollable_content %}
            <ul class="nav nav-pills flex-column">
                {% block sidebar_content_items %}
                    {% if containerParameter.web_frontend_page.default_page_enabled %}
                        {% include '@WebFrontendPackage/ui/component/sidebar/item.html.twig' with {
                            sidebarItemTargetPath: containerParameter.web_frontend_page.default_page_path,
                            sidebarItemTitle: 'Default page',
                            sidebarItemIcon: 'house-door'
                        } %}
                    {% endif %}
                {% endblock %}
            </ul>
        {% endblock %}
    </div>
</div>
